.clock-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 15% auto;
}

/* Style de base de l'horloge */
.clock {
  width: 100%; /* Ajustement dynamique pour correspondre à la taille du conteneur */
  height: 100%;
  border: 10px solid black;
  border-radius: 50%;
  position: relative;
  z-index: 1; /* Superposition au-dessus des sections jour et nuit */
  margin: 0 auto; /* Centrer l'horloge */
}

.day-section,
.night-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Superposition devant l'horloge */
  clip-path: circle(50% at 50% 50%); /* Cercle au centre */
  transition: clip-path 0.3s ease; /* Animation douce quand la forme change */
}

/* Style de l'aiguille */
.hand {
  width: 50%; /* Longueur de l'aiguille */
  height: 4px; /* Épaisseur de l'aiguille */
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%; /* Rotation à partir du centre */
  transition: transform 0.5s ease-in-out;
}

/* Repères des heures */
.hour-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: rgb(235, 116, 18); /* You can change this color */
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
 /* transform: rotate(0deg); /* Rotation initiale */
  
}

.marker-label {
  position: absolute;
  top: -10px;
  left: 110%;
  padding-right: 18%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  /*transform: rotate(90deg); /* Ajuste selon les besoins pour corriger l'inversion */
}

.markerB {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: rgba(4, 68, 151, 0.3); /* You can change this color */
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
}

.marker-labelB {
  position: absolute;
  top: -8px; /* Ajustez la valeur pour éloigner verticalement le texte */
  left: 115%;
  font-size: 15px;
  font-style: italic;
  color: rgb(0, 0, 0);
  white-space: nowrap; /* Empêche le texte de revenir à la ligne */
  }

.hour-number {
  position: absolute;
  top: 2%;
  transform-origin: center;
  font-size: 16px;
}

.horizon-line {
  stroke: blue; /* Couleur de la ligne */
  stroke-width: 4px;
}