.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Ombre douce pour le header */
    max-height: 100px;
    background-color: rgba(171,196,231, 0.5);
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .logo img {
    width: 100%; /* Taille de l'image du logo */
    height: 100%;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .navigation ul {
    display: flex;
    list-style: none;    
  }
  
  .navigation li {
    margin: 0 1rem;
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  